llama-index
google-generativeai
llama-index-llms-gemini
pypdf
python-dotenv
IPython
llama-index-embeddings-gemini
streamlit
streamlit-option-menu
py2neo
pyvis


neo4j-driver
gradio
langchain
google-cloud-aiplatform
langchain-community
langchain-google-vertexai
sentence-transformers
langchain-community
langchain-huggingface
langchain-neo4j

SpeechRecognition
gTTS
python-docx
langchain-groq
langchain-experimental
